#Pull request builds
name: PR Builds

on:
  pull_request:
    branches: [ actions2 ]
    types: [ opened ]
  issue_comment:
   types: [created]

jobs:
  pr-build-check:
    runs-on: ubuntu-latest
    steps:
      - name: check pull request for trigger 
        uses: khan/pull-request-comment-trigger@master
        id: check
        with:
          trigger: 'build now'
          reaction: eyes
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          PR_NUMBER: '${{ github.event.pull_request.number }}'
        if: steps.check.outputs.triggered == 'true'
  pr-build:
     runs-on: ubuntu-latest
     needs: pr-build-check
     if: needs.pr-build-check.outputs.triggered == 'true'
     steps: 
       - uses: actions/cache@v2
         with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys:  |
            ${{ runner.os }}-m2-
       - name: Run itests
         #Run the PR build without any pax-exam tests (Temporary)
         run: mvn clean install -B -DskipITs --file pom.xml
       - name: Slack Notification
           uses: rtCamp/action-slack-notify@v2.0.2
           env:
             SLACK_CHANNEL: ${{ secrets.SLACK_CHANNEL }}
             SLACK_COLOR: '#3278BD'
             SLACK_ICON: https://avatars0.githubusercontent.com/u/6706726?s=200&v=4
             SLACK_MESSAGE: 'Successfully built PR: ${PR_NUMBER}'
             SLACK_TITLE: Message
             SLACK_USERNAME: ${{ secrets.SLACK_USERNAME }}
             SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}